h1{
    color: purple;
    border: solid;
    text-align: center;
}

h2{
    text-align:center;
    text-align-last: right;
}

li{
    text-align-last:right;

}
.subjects{
    font-weight: bold;
    color: #660066;
    
}

span{
    color: violet;
}